@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-primevue-50: #f0f9ff;
  --color-primevue-100: #e0f2fe;
  --color-primevue-200: #bae6fd;
  --color-primevue-300: #7dd3fc;
  --color-primevue-400: #38bdf8;
  --color-primevue-500: #0ea5e9;
  --color-primevue-600: #0284c7;
  --color-primevue-700: #0369a1;
  --color-primevue-800: #075985;
  --color-primevue-900: #0c4a6e;
}